{% extends 'base.html' %}
{% load static %}
 {% block content %}

            <div class="tm-row">
                <div class="tm-col-left">

                          <form method="post"  class="p-3 shadow">

    {% csrf_token %}
 username
    <input type="text" placeholder="username" class="form-control" name="username" > <br>  <br>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" class="form-control" name="email" id="email" required>
    <br>  <br>


      <label ><b>name</b></label>
    <input type="text" placeholder="first name" class="form-control" name="first_name"  > <br>  <br>


    <label ><b>last name</b></label>
    <input type="text" placeholder="last name" class="form-control" name="last_name" > <br>  <br>



    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" class="form-control" name="pswd1" id="psw" required> <br>  <br>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" class="form-control" name="pswd2" id="psw-repeat" required>  <br>  <br>
                               <button type="submit" class="registerbtn">Register</button>
</form>

            </div>
            </div>
 {% endblock %}